@font-face {
    font-family: 'Cera Pro';
    src: url('./font/CeraPro-Regular.woff2') format('woff2'),
         url('./font/CeraPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
    .content {
        display: inline-block;
    }

    header .container {
        background-color: #fff;
        margin-top: 25px;
        text-align: center;
    }
section {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

header {
    margin-bottom: 12px;
}

header img,
nav,
.button-login {
    display: inline-block;
    vertical-align: middle;
}

header .container img {
    float: left;
}

img.icon-btn {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}


nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

nav ul li {
    position: relative; 
}
nav ul li svg{
    position: relative;
    right: -60px;
}


  li:hover > a .arrow-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Cera Pro', sans-serif;
    padding: 10px 15px;
    font-weight: 600;
}

nav ul li a.active {
    border-bottom: 2px solid #46A358;
    padding-bottom: 24px;
    font-weight: 700;
}

nav ul li a:hover {
    color: #46A358;
}


nav ul li ul {
    display: none;
    position: absolute;
    top: 200%;
    left: 0;
    background-color: #EDF6EE;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    z-index: 1000;
}

nav ul li ul li {
    padding: 7px;
    width: 190px;
    display: block;
}

nav ul li ul li a {
    padding: 10px 15px;
    color: black;
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
}

nav ul li ul li a:hover {
    color: #46A358;
}


nav ul li:hover > ul {
    display: block;
}


nav ul li ul li ul {
    left: 100%;
    top: 0;
    display: none;
    font-family: 'Cera Pro', sans-serif;
    background-color: #EDF6EE;
}

nav ul li ul li:hover > ul {
    display: block;
}


.button-login {
    float: right;
    background-color: #46A358;
    color: #fff;
    font-size: 16px;
    font-family: 'Cera Pro', sans-serif;
    border-radius: 10px;
    padding: 8px 15px;
    text-decoration: none;
}

.button-login:hover {
    background-color: #399b48;
}


hr {
    margin-top: 25px;
    height: 0.01px;
    background: #46A358;
}

.container .left-side {
    float: left;
    max-width: 50%;
    padding-left: 43px;
    padding-top: 65px;
}

.container .right-side {
    float: right;
}

p.welcome {
    color: #3D3D3D;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 70px;
    font-family: 'Cera Pro', sans-serif;
    color: #3D3D3D;
    margin: 0;
}
h1 span {
    color: #46A358;
}

p.text1 { 
    color: #727272;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    max-width: 557px;
    margin-bottom: 44px;
}

.button-shop {
    background-color: #46A358;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 11px 27px 9px 26px;
}